{
    "env": {
        "browser": true
    },
    "extends": [
        "airbnb",
        "prettier"
    ],


    "plugins": [
        "react"
    ],
    "rules": {
        "react/prop-types": 0
    }
    
}